:root {
  --primary-color: #562eff;
  --text-color: #000000;
  --sub-color: #ed6b4f;
  --open-font: "Open Sans", sans-serif;
  --roboto-font: "Roboto", sans-serif;
  --poppins-font: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* header start */
header {
  height: 94px;
  background-color: var(--primary-color);
}
nav {
  width: 870px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
}
.logo img {
  margin-right: 18.58px;
}
.logo h1 {
  align-self: center;
  color: #ffffff;
  font-family: var(--poppins-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.menu {
  display: flex;
}
.menu li {
  list-style-type: none;
  margin-left: 36px;
  align-self: center;
  color: #ffffff;
  font-family: var(--poppins-font);
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}
/* first container */
main {
  background-color: #9f9f9f;
}
.first-container {
  width: 870px;
  height: 679px;
  background-color: #ffffff;
  margin: 36px auto 0 auto;
}
/* top players */
.top-players h1 {
  color: var(--primary-color);
  font-family: var(--poppins-font);
  font-weight: 500;
  font-size: 24px;
  margin: 33px 0 0 33px;
}
.top-players-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2;
  grid-gap: 29px 117px;
  margin: 40px 81px 0 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}
.top-players-content img {
  width: 56px;
  height: 56px;
  margin-right: 1rem;
}
.top-player {
  display: flex;
}
.top-player h2 {
  align-self: center;
  font-family: var(--poppins-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
/* Top blog starts */
.first-sub-container{
  padding-right: 51px;
}
.blog{
  color: var(--primary-color);
  font-family: var(--poppins-font);
  font-weight: 500;
  font-size: 24px;
  margin-top: 30px;
  margin-left: 33px;
  margin-bottom: 21px;
}
.top-bloger-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2;
}
.first-image{
display: flex;
flex-direction: row;
margin-left: 28px;
}
.first-image img{
  /* width: 224px;
  height: 117px; */
  margin-bottom: 20px;
}
.bloger-content {
  margin-left: 10px;
}
.bloger-content h1{
  font-size: 20px;
  line-height: 34px;
  font-family: var(--poppins-font);
  font-weight: 500;
}
.bloger-content h4{
  font-size: 16px;
  font-family: var(--poppins-font);
  font-weight: 400;
  line-height: 24px;
  color: #9F9F9F;
}
.bloger-content span{
  color: var(--primary-color);
}
/* second container */
.second-container {
  width: 870px;
  height: 362px;
  background-color: #ffffff;
  margin: 36px auto 0 auto;
}
.second-container-content{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
/* second-container-part1 */
.second-container-part1{
  Width: 252.42px;
  Height: 269.79px;
  margin-left: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.second-container-part1 h3{
  font-family: var(--roboto-font);
  font-weight: 500;
  line-height: 23.48px;
}
.second-container-part1 h6{
  font-family: var(--roboto-font);
  font-weight: 400;
  line-height: 17.22px;
  color: #ED6B4F;
}
/* stars */
.gold{
  color: gold;
}
.ash{
  opacity: 25%;
}
.pill{
  display: flex;
  width: 80px;
  height: 30px;
  border: 3px solid #FFE4E8;
  background-color:  #FFE4E8;
  border-radius: 14.69px;
  justify-content: center;
  align-items: center;
  color: #FF4A60;
}
.second-container-part1-footer{
  display: flex;
  justify-content: space-between;
}
.second-container-part1-icons{
  align-self: center;
}
.rating{
  align-self: center;
}
